html {
  background-color: #dddddd;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 38em;
  margin: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}

main h1,
main summary {
  display: flex;
  justify-content: center;
}

main section.cat {
  display: flex;
  justify-content: center;
}

main section.cat img {
  border-radius: 3%;
  border: 1px solid #333333;
  height: auto;
  width: 90%;
  max-width: 100%;
}

main nav {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

main nav div.btn {
  flex: 1rem 1rem 0px;
  padding: 1rem 3rem 1rem 3rem;
  border: 2px solid #333333;
  border-radius: 3%;
  cursor: url("cursor.png"), auto;
  margin: 1 rem 0rem 1rem 0rem;
  background-color: #bbbbbb;
}

main summary {
  font-style: italic;
}
